* {
    box-sizing: border-box;
}
body{
    background:#000;
  }
  #background{
    height: 100vh;
    background-color: #000;
    background-image: repeating-linear-gradient(transparent, transparent 50px, rgba(0,255,255, .25) 50px,rgba(0,255,255, .25) 100px), repeating-linear-gradient(90deg, rgba(0,255,255, .25), rgba(0,255,255, .25) 50px, transparent 50px, transparent 100px), repeating-linear-gradient(135deg, transparent, transparent 4px, rgba(255,255,255,.1) 4px, rgba(255,255,255,.1) 8px), repeating-linear-gradient(45deg, transparent, transparent 4px, rgba(255,255,255,.1) 4px, rgba(255,255,255,.1) 8px), repeating-linear-gradient(transparent, transparent 20px, rgba(100,250,250, .2) 20px, rgba(100,250,250, .2) 21px, transparent 21px,transparent 29px, rgba(100,250,250, .2) 29px, rgba(100,250,250, .2) 30px, transparent 30px, transparent 50px), repeating-linear-gradient(90deg, transparent, transparent 20px, rgba(100,250,250, .2) 20px, rgba(100,250,250, .2) 21px, transparent 21px,transparent 29px, rgba(100,250,250, .2) 29px, rgba(100,250,250, .2) 30px, transparent 30px, transparent 50px);
  }
#main-box>img {
    display: flex;
    width:700px;
    height:500px;
    justify-content: center;
    align-items: center;
    border: solid 5px goldenrod;


}
#head-bar {
    background-color:slategray;
    height: 150px;
    border: solid 2px navy;


}
#head-bar>h1 {
    text-align: center;
    font-size: 50px;
    font-family: cochin;
    
}
.nav-image {
    font-size: 18px;
    color: yellowgreen

}
